.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(10,10,10,0.85);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8%;
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #4faaff;
}

/* mobile */
.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .menu-toggle span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px 0;
  }

  .nav-links {
    position: absolute;
    right: 0;
    top: 70px;
    background: #0b0b0b;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}
