.skill-card {
  background: linear-gradient(145deg, #0a0a0a, #111);
  border: 1px solid rgba(255, 235, 59, 0.2);
  border-radius: 16px;
  padding: 35px 40px;
  box-shadow: 0 0 25px rgba(255, 235, 59, 0.05);
  transition: all 0.4s ease;
}

.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 35px rgba(255, 235, 59, 0.2);
  border-color: rgba(255, 235, 59, 0.5);
}

.skill-card h3 {
  color: #ffeb3b;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.skills-title {
  text-align: center;
}


.skill-card p {
  color: #dcdcdc;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 0.3px;
}
